@model IEnumerable<School.Domain.Core.Student>
<!-- context menu -->
<ul id="context-menu" class="dropdown-menu">
    @*<li data-item="create"><a>Создать</a></li>*@
    <li data-item="edit"><a>Редактировать</a></li>
    <li data-item="delete"><a>Удалить</a></li>
</ul>

<div id="toolbar" class="btn-group">
    <button type="button" class="btn btn-default" onclick="dialog.create_student()" title="Добавить">
        <i class="glyphicon glyphicon-plus"></i>
    </button>
    <button type="button" class="btn btn-default" title="Редактировать" onclick="dialog.edit_student($('.success').find('td:first').attr('data-id'));">
        <i class="glyphicon glyphicon-edit"></i>
    </button>
    <button type="button" class="btn btn-default" title="Удалить" onclick="server.remove_student($('.success').find('td:first').attr('data-id'));">
        <i class="glyphicon glyphicon-trash"></i>
    </button>
</div>
<table id="student_table" class="table table-hover">
    <thead>
        <tr>
            <th data-sortable="true" data-align="center" data-halign="center" data-width="75px">
                №
            </th>
            <th data-sortable="true" data-align="center" data-halign="center">
                @*data-sorter="table.sort_class"*@
                Класс
            </th>
            <th data-sortable="true" data-align="center" data-halign="center">
                Ученик
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            School.Domain.Core.Student item = Model.ElementAt(i);
            int currentNumber = i + 1;
            <tr>
                <td data-id="@item.ID">@currentNumber</td>
                <td>
                    @item.Grade.Number @item.Grade.Symbol
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
            </tr>
        }
    </tbody>
</table>


